<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ты поймал удачу за хвост!</h1>
    <div class="first__tbl">
        <p>
            В шансе 50\50 ты одержал победу, скушав нужные таблетоны. Теперь ты побадаешь в лучшую it школу ProCode, где тебе дадут билет в жизнь!
            Даже не знаю как тебя поздравить :)
        </p>
        <img src="https://cdn.otkritkiok.ru/posts/big/tsvety-dlya-tebya-4316.jpg"
        class = "blue">
    </div>
    
</body>
</html>